@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Titillium+Web&display=swap'); 
@font-face { 
  font-family: FonteLogo; 
  src: url(../_fonts/bubblegum-sans-regular.otf); 
} 

body {
  font-family: arial, sans-serif;  
  background-color: #dddddd;
  color: rgba(0,0,0,1);
  font-size: 11pt;
}
 

#containeir {
  min-width: -webkit-fill-available;
  height: auto;
}

header {
  min-width: -webkit-fill-available;
  background-color: #ffffff;
  margin: -20px auto 0px auto;
  display: block; 
  height: 40px;
  position: relative;
  border-bottom: 1px solid #dddddd; 
}

#interface {
  /* width: 900px; */
  min-width: -webkit-fill-available;
  background-color: #ffffff;
  margin: -20px auto 0px auto;
}

p {
  text-align: justify;
  text-indent: 50px;
} 

a {
  color: #606060;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: block;
  margin: 0px auto;
}

nav#top-nav {
  display: block; 
  height: 9px;
  width: 900px;
  position: relative;
}

nav#top-nav ul {
  list-style: none;
  position: absolute;
  left: 645px;
  top: -24px;
}

nav#top-nav li {
  display: inline-block;
  margin-left: 10px;
}

nav#top-nav a {
  text-decoration: none;
}

nav#top-nav .top-telephone a {
  font-size: 16px;
  font-weight: bold;
  vertical-align: 4px;
}

nav#cabecalho {
  height: 160px;
  width: 900px;
 } 


nav img#icone {
  position: relative;
  top: 18px;
  width: 100px;
  float: right;
  right: -27px;
}

nav img#logo-header {
  position: relative;
  top: 13px;
  left: 0px;
}

/* Formatação do Menu */
nav#menu ul {
  list-style: none; /* vai tirar a marcação do UL */
  /* text-transform: uppercase; todas as palavras em letras MAIÚSCULA */
  position: relative;
  top: -88px;
  left: 306px;
}

nav#menu li {
  display: inline-block; /* inline-block -> vai fazer ficar na mesma linha em blocos */
  background-color: #69191c; /* cor do fundo */
  padding: 10px; /* vai criar um espaço dentro dos botoes */
  margin: 2px; /* vai criar um espaço fora dos botões */
  transition: background-color 1s; /* transition vai fazer que hover apareça 1 segundo após o mouse estiver sobre o botão */
}

nav#menu li:hover {
  background-color: #606060;
}

nav#menu h1 {
  display: none; /* vai escoder tudo que for h1 */
}

nav#menu a {
  color: #dddddd;
  text-decoration: none;
}

nav#menu a:hover {
  color: white;
  text-decoration: underline;
}
/* Start Section */
section#conteudo {
  margin: 0px auto;
  width: 1000px;
}

iframe#frame-spec {
  width: 1000px;
  height: 505px;
  border: none;
  overflow: hidden;
  border-style: ridge;
}

iframe#frame-spec::-webkit-scrollbar {
  display: none;
}




/* End Section */

footer#rodape {
  background-color: #dddddd;
}

footer iframe {
  width: 1000px;
  /* min-width: -webkit-fill-available; */
  height: 200px;
}
footer#rodape {
  font-size: 11pt;
  font-weight: bold;
  color: #606060;
}

footer#rodape ul {
  list-style: none;
  position: relative;
  text-align: center;
}

footer#rodape li {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
}

footer#rodape a:hover {
  text-decoration: none;
}

footer#rodape p {
  text-align: center;
  margin-bottom: 1px;
}

footer#rodape .copyright {
  text-align: center;
}