body {
  font-family: arial, sans-serif;  
  background-color: #606060;;
  color: rgba(0,0,0,1);
  font-size: 11pt;
}
 

#containeir {
  min-width: max-content;
}

header#top-header {
  min-width: max-content;
  background-color: #69191c;
  margin: -20px auto 0px auto;
  height: 65px;
  /* border-bottom: 1px solid #dddddd;  */
  margin-left: -8px;
  margin-right: -8px;
}

#interface {
  min-width: max-content;
  background-color: #ffffff;
  margin: -20px auto 0px auto;
  margin-left: -8px;
  margin-right: -8px;
}

p {
  text-align: justify;
  text-indent: 50px;
} 

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav#block-nav {
  /* display: block; */
  margin: 0px auto;
  width: 1050px;
  height: 126px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav#top-nav {
  display: block;
  height: 50px;
  width: 255px;
  position: relative;
  float: right;
  top: -52px;
  margin-right: 20px;
}

nav#top-nav ul {
  list-style: none;
}

nav#top-nav li {
  display: inline-block;
  margin-left: 10px;
}

nav#top-nav a {
  text-decoration: none;
}

nav#top-nav .top-telephone a {
  font-size: 16px;
  font-weight: bold;
  vertical-align: 4px;
  color: #ffffff;
}

nav#logo-nav {
  height: 126px;
  width: 279px;
  float: left;
  margin-left: 25px;
 } 

nav img#logo-bardini {
  float: left;
}

/* Formatação do Menu */
nav#holder-menu {
  position: relative;
  top: 25px;
  right: 20px;
}
nav#menu {
  width: 620px;
  height: auto;
  float: left;
}

nav#menu ul {
  list-style: none; /* vai tirar a marcação do UL */
  /* text-transform: uppercase; todas as palavras em letras MAIÚSCULA */
  /* float: right; */
}

nav#menu li {
  display: inline-block; /* inline-block -> vai fazer ficar na mesma linha em blocos */
  padding: 5px; /* vai criar um espaço dentro dos botoes */
  letter-spacing: 0.05em;
}

nav#menu h1 {
  display: none; /* vai escoder tudo que for h1 */
}

nav#menu a {
  color: #69191c;
  text-decoration: none;
}

nav#menu a:hover {
  text-decoration: underline;
}

nav#menu .menu-estimate {
  display: inline-block; /* inline-block -> vai fazer ficar na mesma linha em blocos */
  background-color: #69191c; 
  padding: 10px; /* vai criar um espaço dentro dos botoes */
  margin: 2px; /* vai criar um espaço fora dos botões */
  transition: background-color 1s; /* transition vai fazer que hover apareça 1 segundo após o mouse estiver sobre o botão */
  /* border: solid 1px #69191c; */
  border-radius: 3px;
}

nav#menu .menu-estimate a {
  font-style: italic;
  font-family: 'Noto Serif', serif;
  letter-spacing: 0.05em;
  transition: 0.4s ease;
  color: #ffffff;
}


nav#menu .menu-estimate a:hover {
  text-decoration: underline;
}

nav img#icone {
  position: relative;
  /* width: 115px; */
  top: -55px;
}

/* Start Section */

section#conteudo {
  margin: 0px auto;
  width: 1000px;
  border-style: ridge;
}

section#conteudo img {
  width: 1000px;
}

/* End Section */

footer#rodape {
  background-color: #ccc;
  font-size: 11pt;
  font-weight: bold;
  color: #0f1f37;
  margin-left: -8px;
  margin-right: -8px;
  min-width: max-content;
  height: auto;
}

#footer-txt {
  width: 1000px;
  height: auto;
  margin: 0px auto;
  display: block;
}

#footer-txt .find {
  float: left;
  width: 160px;
  text-align: left;
  margin-left: -50px;
  height: auto;
  top: 18px;
  position: relative;
  color: #ffffff;
}

#footer-txt .footer-contact {
  width: 800px;
  height: auto;
  float: right;
  text-align: right;
  position: relative;
  top: 11px;
}

#footer-txt .footer-contact a {
  color: #ffffff;
}

#footer-txt .footer-contact ul {
  list-style: none; 
}

#footer-txt .footer-contact img {
  top: 3px;
  position: relative;
}

#footer-txt .footer-contact li {
  display: inline-block;
  margin-left: 10px;
  /* margin-top: 20px; */
}

#footer-txt .footer-contact a:hover {
  text-decoration: none;
}

#iframe-div iframe {
  margin: 0px auto;
  text-align:center;
  width: 1000px;
  height: 200px;
}

iframe {
  display: block;
}


.copyright {
  text-align: center;
  color: #ffffff;
}