@media (min-width: 600px) and (max-width: 800px) {
  body {
    font-family: arial, sans-serif;  
    background-color: #606060;;
    color: rgba(0,0,0,1);
    font-size: 11pt;
  }

  p {
    text-align: justify;
    text-indent: 50px;
  } 
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }   
  
  #containeir {
    /* min-width: max-content; */
    width:100%;
    height: auto;
    margin: 0px;
  }

  header#top-header {
    width: 100%;
    background-color: #69191c;
    margin: none;
    height: 59px;
    /* border-bottom: 1px solid #dddddd;  */
    margin-left: 0px;
    margin-right: 0px;
  }

  #holder-top-nav {
    display: none;
  }
/* 
  header#top-nav 
  header#top-nav .top-telephone {
    display: none;
  }
  
  header#top-nav ul {
    display: none;
  }
  
  header#top-nav li {
    display: none;
  }
  
  header#top-nav a {
    display: none;
  }
  
  header#top-nav .top-telephone a {
    display: none;
  } */


  #holder-top-mob {
    display:block;
  }
  
  #top-mobile {
    display: block;
    height: 50px;
    width: 255px;
    position: none;
    float: right;
    top: -6px;
  }
  
  #top-mobile ul {
    list-style: none;
  }
  
  #top-mobile li {
    display: inline-block;
    margin-left: 10px;
  }
  
  #top-mobile a {
    text-decoration: none;
  }

  #top-mobile .top-tele {
    display: inline-block;;
  }
  
  #top-mobile .top-tele a {
    font-size: 16px;
    font-weight: bold;
    vertical-align: 4px;
    color: #ffffff;
  }

  #interface {
    width:100%;
    height: auto;
    background-color: #ffffff;
    margin: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  nav#block-nav {
    display: block;
    width:100%;
    height: auto;
    margin: 0px;
    height: 126px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #holder-menu-bar {
    display:block;
    float: right;
    width: 97%;
    position: relative;
    top: -139px;
  }
  
  #menuBar {
    display:block;/*show this item*/
    height:30px;
  }

  #menuNAVBar {
    width:98%;
    background-color:transparent;
    height:auto;
    display:none;
    margin-left: auto;
    margin-right: auto;
  }

  #menuNAVBarLINKS {
    width:98%;
    background-color:transparent;
    height:auto;
    display:block;
    float:right
  }

  #menuNAVBarLINKS a {
    width: 98%;
    line-height: 40px; 
    text-decoration: none;
    font-family: "EigerdalsHeavy", Sans-serif;
    color: #000;    
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    font-size: 23px;
    height: 40px;
    float: left;
    text-align: center;
    position: relative;
    border: 1px solid #be9a5c;
  }

  #menuNAVBarLINKS a:hover {
    background-color: #eb4511;
    background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
  }

  nav#logo-nav {
    height: 0px;
    width: 50%;
    float: none;
    margin: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
   } 
  
  nav img#logo-bardini {
    width: auto ;
    max-width: 100% ;
    height: auto ;
  }
  
  /* Formatação do Menu */
  nav#holder-menu {
    display: none;
  }

  nav#menu {
    display: none;
  }
  
  nav#menu ul {
    display: none;
  }
  
  nav#menu li {
    display: none;
  }
  
  nav#menu h1 {
    display: none;
  }
  
  nav#menu a {
    display: none;
  }
  
  nav#menu a:hover {
    display: none;
  }
  
  nav#menu .menu-estimate {
    display: none;
  }
  
  nav#menu .menu-estimate a {
    display: none;
  }
  
  nav#menu .menu-estimate a:hover {
    display: none;
  }
  
  nav img#icone {
    display: none;
  }
  
  /* Start Section */
  section#conteudo {
    width: 98%;
    height: auto;
    margin: 0px;
    border-style: ridge;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  section img#content-img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  /* End Section */
  
  footer#rodape {
    background-color: none;
    font-size: 11pt;
    font-weight: bold;
    color: #0f1f37;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: auto;
  }
  
  #footer-txt {
    width:100%;
    height: auto;
    margin: 0px auto;
    display: block;
  }
  
  #footer-txt .find {
    float: left;
    width: 106px;
    text-align: left;
    margin-left: -50px;
    height: auto;
    top: 6px;
    position: relative;
    color: #ffffff;
    display: none;
  }
  
  #footer-txt .footer-contact {
    width:80%;
    height: auto;
    margin: 10px;
    float: none;
    text-align: center;
    position: relative;
    top: 0px;
  }
  
  #footer-txt .footer-contact a {
    color: #ffffff;
  }
  
  #footer-txt .footer-contact ul {
    list-style: none; 
  }
  
  #footer-txt .footer-contact img {
    top: 3px;
    position: relative;
  }
  
  #footer-txt .footer-contact li {
    display: inline-block;
    margin-left: 10px;
    /* margin-top: 20px; */
  }
  
  #footer-txt .footer-contact a:hover {
    text-decoration: none;
  }
  
  #iframe-div iframe {
    height: 200px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  iframe {
    display: block;
  }
  
  
  .copyright {
    text-align: center;
    color: #ffffff;
  }
}

@media (min-width: 414px)  and (max-width: 599px) {
  body {
    font-family: arial, sans-serif;  
    background-color: #606060;;
    color: rgba(0,0,0,1);
    font-size: 11pt;
  }

  p {
    text-align: justify;
    text-indent: 50px;
  } 
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }   
  
  #containeir {
    /* min-width: max-content; */
    width:100%;
    height: auto;
    margin: 0px;
  }

  header#top-header {
    width: 100%;
    background-color: #69191c;
    margin: none;
    height: 59px;
    /* border-bottom: 1px solid #dddddd;  */
    margin-left: 0px;
    margin-right: 0px;
  }

  #holder-top-nav {
    display: none;
  }

  /* header#top-nav 
  header#top-nav .top-telephone {
    display: none;
  }
  
  header#top-nav ul {
    display: none;
  }
  
  header#top-nav li {
    display: none;
  }
  
  header#top-nav a {
    display: none;
  }
  
  header#top-nav .top-telephone a {
    display: none;
  } */


  #holder-top-mob {
    display:block;
  }
  
  #top-mobile {
    display: block;
    height: 50px;
    width: 255px;
    position: none;
    float: right;
    top: -6px;
  }
  
  #top-mobile ul {
    list-style: none;
  }
  
  #top-mobile li {
    display: inline-block;
    margin-left: 10px;
  }
  
  #top-mobile a {
    text-decoration: none;
  }

  #top-mobile .top-tele {
    display: inline-block;
  }

  #top-mobile .top-tele a {
    font-size: 16px;
    font-weight: bold;
    vertical-align: 4px;
    color: #ffffff;
  }

/* 
  #holder-top-mob {
    display:block;
  }
  
  header#top-mobile {
    display: block;
    height: 50px;
    width: 255px;
    position: none;
    float: right;
    top: -6px;
  }
  
  header#top-mobile ul {
    list-style: none;
  }
  
  header#top-mobile li {
    display: inline-block;
    margin-left: 10px;
  }
  
  header#top-mobile a {
    text-decoration: none;
  }
  
  header#top-mobile .top-tele a {
    font-size: 16px;
    font-weight: bold;
    vertical-align: 4px;
    color: #ffffff;
  } */

  #interface {
    width:100%;
    height: auto;
    background-color: #ffffff;
    margin: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  nav#block-nav {
    display: block;
    width:100%;
    height: auto;
    margin: 0px;
    height: 126px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #holder-menu-bar {
    display:block;
    float: right;
    width: 97%;
    position: relative;
    top: -139px;
  }
  
  #menuBar {
    display:block;/*show this item*/
    height:30px;
  }

  #menuNAVBar {
    width:98%;
    background-color:transparent;
    height:auto;
    display:none;
    margin-left: auto;
    margin-right: auto;
  }

  #menuNAVBarLINKS {
    width:98%;
    background-color:transparent;
    height:auto;
    display:block;
    float:right
  }

  #menuNAVBarLINKS a {
    width: 98%;
    line-height: 40px; 
    text-decoration: none;
    font-family: "EigerdalsHeavy", Sans-serif;
    color: #000;    
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    font-size: 23px;
    height: 40px;
    float: left;
    text-align: center;
    position: relative;
    border: 1px solid #be9a5c;
  }

  #menuNAVBarLINKS a:hover {
    background-color: #eb4511;
    background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
  }

  nav#logo-nav {
    height: 0px;
    width: 50%;
    float: none;
    margin: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
   } 
  
  nav img#logo-bardini {
    float: left;
    width: auto ;
    max-width: 100% ;
    height: auto ;
  }
  
  /* Formatação do Menu */
  nav#holder-menu {
    display: none;
  }

  nav#menu {
    display: none;
  }
  
  nav#menu ul {
    display: none;
  }
  
  nav#menu li {
    display: none;
  }
  
  nav#menu h1 {
    display: none;
  }
  
  nav#menu a {
    display: none;
  }
  
  nav#menu a:hover {
    display: none;
  }
  
  nav#menu .menu-estimate {
    display: none;
  }
  
  nav#menu .menu-estimate a {
    display: none;
  }
  
  nav#menu .menu-estimate a:hover {
    display: none;
  }
  
  nav img#icone {
    display: none;
  }
  
  /* Start Section */
  section#conteudo {
    width: 98%;
    height: auto;
    margin: 0px;
    border-style: ridge;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  section img#content-img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: auto; */
    max-width: 100%;
    /* height: auto;
  }


  /* End Section */
  
  footer#rodape {
    background-color: none;
    font-size: 11pt;
    font-weight: bold;
    color: #0f1f37;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: auto;
  }
  
  #footer-txt {
    width:100%;
    height: auto;
    margin: 0px auto;
    display: block;
  }
  
  #footer-txt .find {
    float: left;
    width: 106px;
    text-align: left;
    margin-left: -50px;
    height: auto;
    top: 6px;
    position: relative;
    color: #ffffff;
    display: none;
  }
  
  #footer-txt .footer-contact {
    width:80%;
    height: auto;
    margin: 10px;
    float: none;
    text-align: center;
    position: relative;
    top: 0px;
  }
  
  #footer-txt .footer-contact a {
    color: #ffffff;
  }
  
  #footer-txt .footer-contact ul {
    list-style: none; 
  }
  
  #footer-txt .footer-contact img {
    top: 3px;
    position: relative;
  }
  
  #footer-txt .footer-contact li {
    display: inline-block;
    margin-left: 10px;
    /* margin-top: 20px; */
  }
  
  #footer-txt .footer-contact a:hover {
    text-decoration: none;
  }
  
  #iframe-div iframe {
    height: 200px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  iframe {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .copyright {
    text-align: center;
    color: #ffffff;
  }
}